{{#message}}
    {{#info}}<div class="alert alert-info" role="alert">{{info}}</div>{{/info}}
    {{#warning}}<div class="alert alert-warning" role="alert">{{warning}}</div>{{/warning}}
    {{#error}}<div class="alert alert-error" role="alert">{{error}}</div>{{/error}}
{{/message}}
